<%= render 'menu' %>

<h2>Menus</h2>
<% @menus.each do |menu| %>
<div class="menu-card">
  <%= menu.name %>
  <%= render 'items/item',  menu: menu, item: menu.items.build, menu_items: menu.items.where.not(id: nil) %>
</div>
<% end %>
